<div class="page" xmlns="http://www.w3.org/1999/html">
    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <div class="block">
                    <h3 class="md-title">Обновление списка книг</h3>
                </div>
                <div ng-show="status == 'launched'" class="block">
                    <md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>
                    <div class="block">{{total}}/{{current}}</div>
                    <md-button class="md-raised" ng-click="stopScan()">Остановить</md-button>
                </div>
                <md-button ng-show="status == 'stopped'" class="md-raised md-warn" ng-click="startScan()">Выпустить кракена</md-button>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3 class="md-title block">О программе</h3>
                <p>mds-club client: v1.0.0<br/>
                    Страница проэкта: http://e154.ru/blog/tag/mds<br/>
                    Автор: Filippov Alex aka &lt;delta54&gt; filippov.a@e154.ru</p>

                <p>Программа разработана чисто из академического интереса.<br/>
                    На стеке технологий, таких как: Golang, Angular, Websocket, html5, jquery etc...<br/>
                    И предназначена для дублирования базы данных аудио книг сайта mds-club.ru,
                    для возможности удобного поиска, прослушивания, и ведения истории прослушанных книг.
                    Файлы аудио книг остаются в облаке, и могут быть скачаны по требованию.</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text">
                <h3 class="md-title block">Лицензионное соглашение</h3>
                <p>The MIT License (MIT)</p>
                <p>Copyright (c) 2015 Filippov Alex</p>
                <p>
                    Permission is hereby granted, free of charge, to any person obtaining a
                    copy of this software and associated documentation files (the "Software"),
                    to deal in the Software without restriction, including without limitation
                    the rights to use, copy, modify, merge, publish, distribute, sublicense,
                    and/or sell copies of the Software, and to permit persons to whom the
                    Software is furnished to do so, subject to the following conditions:</p>
                <p>
                    The above copyright notice and this permission notice shall be included in
                    all copies or substantial portions of the Software.</p>
                <p>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
                    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
                    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
                    DEALINGS IN THE SOFTWARE.
                </p>
            </div>

        </md-list-item>
    </md-list>
</div>