<div class="page">

    <md-input-container>
        <label>Поиск по имени...</label>
        <input md-maxlength="30" name="name" ng-model="search_name">
    </md-input-container>

    <table ng-if="authors_list">
        <thead>
        <tr>
            <td class="table_id_col">id</td>
            <td>автор</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="author in authors_list">

            <td>{{$index + (current_page - 1) * items_per_page + 1}}</td>
            <td><a ng-href="{{ 'base.books' | routeSegmentUrl: {page: 1, limit: 24, author: author.Id} }}" truncate-text="36">{{author.Name}}</a></td>

        </tr>
        </tbody>
    </table>

    <div ng-if="authors_list.length == 0" style="align-content: center;">Ни чего не найдено</div>

    <div ng-show="total_items > items_per_page">
        <pagination boundary-links="true" total-items="total_items" items-per-page="items_per_page" max-size="max_size" ng-model="current_page" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>

    <span ng-if="total_items > 0" style="text-align: right;">Всего найдено: {{total_items}}</span>

</div>