<!--base-->
<md-content>
<md-tabs md-stretch-tabs md-selected="selectedIndex">
    <md-tab ng-class="{'md-active': ('base.books' | routeSegmentStartsWith)}">
        <a ng-href="{{ 'base.books' | routeSegmentUrl }}">Книги</a>
    </md-tab>
    <md-tab ng-class="{'md-active': ('base.authors' | routeSegmentStartsWith)}">
        <a ng-href="{{ 'base.authors' | routeSegmentUrl: {page: 1, limit: 24} }}">Авторы</a>
    </md-tab>
    <md-tab ng-class="{'md-active': ('base.history' | routeSegmentStartsWith)}">
        <a ng-href="{{ 'base.history' | routeSegmentUrl }}">История</a>
    </md-tab>
</md-tabs>

<div app-view-segment="1"></div>

</md-content>
<!--/base-->