<!DOCTYPE html>
<html ng-app="app">
<head>

    <!--

          __   _____    ___                     Hi there, curious stranger.
         /  | |  ___|  /   |
      ___`| | |___ \  / /| |  _ __ _   _        Project name:               e154.ru Dev Studio
     / _ \| |     \ \/ /_| | | '__| | | |       Idea & Concept:             Filippov Alex (delta54)
    |  __/| |_/\__/ /\___  |_| |  | |_| |       Design and development:     Filippov Alex (delta54)
     \___\___/\____/     |_(_)_|   \__,_|                                   e154.ru

    -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="fragment" content="!" />
<link rel="shortcut icon" type="image/png" href="/images/logo/favicon.png" />
<title ng-bind="mt.title"></title>
<link rel="stylesheet" href="/css/lib.min.css">
<link rel="stylesheet" href="/css/app.min.css">
</head>
<body>

<div id="main-content" app-view-segment="0"></div>

<script type="text/javascript" src="/js/lib.min.js"></script>
<script type="text/javascript" src="/js/app.min.js"></script>

</body>
</html>