<div class="dialog-contents">
    <a class="close-player" href="" ng-click="closeThisDialog()">
        <div class="x">X</div>
        <div class="esc">ESC</div>
    </a>

    <div class="container">
        <div layout="row" class="dialog-head" style="margin-bottom: 30px;">
            <div flex>
                <dl>
                    <dt>Автор:</dt>
                    <dd><a ng-href="{{ 'base.books' | routeSegmentUrl: {page: 1, limit: 24, author: book.Author_id} }}" ng-click="closeThisDialog()">{{book.Author_name}}</a></dd>
                    <dt>Название:</dt>
                    <dd>{{book.Name}}</dd>
                    <dt ng-if="book.Date">В эфире:</dt>
                    <dd ng-if="book.Date">{{book.Date | date}}</dd>
                    <dt>Станция:</dt>
                    <dd>{{book.Station_name}}</dd>
                </dl>
            </div>
            <div flex>
                <div ng-if="files">Найдено: {{files.length}} зеркала</div>
                <ul ng-if="files">
                    <li ng-repeat="file in files">
                        <a href="{{file.Url | trusted}}" download="{{book.Name}}.mp3">
                            <i class="fa fa-cloud-download"></i> <span truncate-text="36">{{file.Name}}</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div layout="row">
            <div class="dialog-content" id="dialog-content">

            </div>
            <!-- HTML5 Audio Player -->
            <audio preload="auto" controls style="width: 100%;" class="audio">
                <source ng-repeat="file in files" ng-src="{{file.Url | trusted}}" type="audio/mp3" />
            </audio>

        </div>

    </div>

</div>


