<div class="dialog-contents">
    <a class="close-player" href="" ng-click="closeThisDialog()">
        <div class="x">X</div>
        <div class="esc">ESC</div>
    </a>

    <div class="dialog-head">

        <dl>
            <dt>Автор:</dt>
            <dd><a ng-href="{{ 'base.books' | routeSegmentUrl: {page: 1, limit: 24, author: book.Author_id} }}" ng-click="closeThisDialog()">{{book.Author_name}}</a></dd>
            <dt>Название:</dt>
            <dd>{{book.Name}}</dd>
            <dt ng-if="book.Date">В эфире:</dt>
            <dd ng-if="book.Date">{{book.Date | date}}</dd>
            <dt>Станция:</dt>
            <dd>{{book.Station_name}}</dd>
        </dl>
    </div>

    <div class="dialog-content">

        <videogular vg-theme="config.theme">
            <vg-media vg-src="config.sources"
                      vg-tracks="config.tracks"
                      vg-type=”audio”>
            </vg-media>

            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>

        </videogular>

    </div>

    <div class="dialog-footer">

    </div>

</div>


